{% extends "base.html" %}
{% load static %}
{% block content1 %}

<div class="row my-5">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="circular-image-container">
            <img class="circular-image" src=" {% static 'images/python-logo.png' %} " alt="image">
        </div>
    </div>

    <div class="col-12 text-center mt-3 nono">
        <h4 class="title"> Hi, my name is </h4>
        <div class="name">
            <h1> Luan Felix </h1>
            <h1> Computer Science Student </h1>
        </div>
    </div>
</div>
{% endblock content1 %}